#body {
  margin: 0;
}

/*
================================================================================
    Related And Comparison
================================================================================
*/
/* #RelatedAndComparison {
  margin-top: 15em;
  padding: 20em;
  background: #EEE;
} */
#RelatedAndComparison {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #EEE; */
}
/* #RelatedAndComparison > h2 {

} */
/* --                              carousel                                -- */
.card-carousel .container {
  display:  flex;
  flex-direction: row;
  width: 0px;
  /* align-items: center; */
  justify-content: center;
}
.container {

}
.left-carousel-arrow, .right-carousel-arrow {

}

/* --                                cards                                 -- */
/* related */
.item-category {

}
.item-name {

}
.sale-price {

}
.original-price {

}
card-rating {

}

.cross-out-price {
  text-decoration: line-through;
}
.hide {
  display: none;
}

/* buttons */
.relatedBtn {
  color: #00CCCC;
}
.outfitBtn {

}

/* --                                images                                -- */

.image-slider .container {
  display:  flex;
  flex-direction: row;
  width: 100px;
  /* align-items: center; */
  justify-content: center;
}
.image {
  /* float: left; */
  height: 200;
  width:  100px;
  background-size: cover;
}



