#body {
  margin: 0;
}

/*
================================================================================
    Related And Comparison
================================================================================
*/
/* #RelatedAndComparison {
  margin-top: 15em;
  padding: 20em;
  background: #EEE;
} */
#RelatedAndComparison {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #EEE; */
}
/* -- outer carousel -- */
.carousel .container {
  display:  flex;
  flex-direction: row;
  width: 0px;
  /* align-items: center; */
  justify-content: center;
}

.relatedBtn {
  color: #00CCCC;
}